@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Si el usuario existe y está confirmado, recibirá un correo electrónico para restablecer la contraseña.
        </p>
    </div>
</main>
